PEID/Ficha Pratica 3/Exercicio3/produto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="produto">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" type="xs:string" />
                <xs:element name="quantidade" type="xs:int" />
                <xs:element name="preco_unitario" type="xs:float" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>